.venv/
.idea/
.tox/
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
*foo*
*foo*/
*log*
*log*/
dist/
_build/
.scratch.py
scratch/
scratch.*
__temp__.*
*_output.ipynb
/pandas-ml-1ntegration-test/test/test_4_debug.py
private/
mount.sh
streamlit_apps/models/
*.kic
/pandas-ml-airflow/scratch/
