arch==4.19
bintrees==2.2.0
cachetools==4.2.2
colorama==0.4.4
cvxopt==1.2.6
cvxpy==1.1.12
ipywidgets==7.6.3
matplotlib==3.4.1
mgarch-setup-fix==0.2.0
MiniSom==2.2.9
mlxtend==0.18.0
moviepy==1.0.3
numba==0.53.1
numpy==1.20.2
pandas==1.2.4
pyts==0.11.0
PyWavelets==1.1.1
qpsolvers==1.6.1
seaborn==0.11.1
sortedcontainers==2.3.0