sortedcontainers
stable-baselines
scikit-learn
mplfinance
matplotlib
tensorflow<2.0
colorama>= 0.3.9
pywavelets
cachetools
ipywidgets
qpsolvers
yfinance
moviepy
mlxtend
seaborn
minisom
cvxopt
pandas
keras
numpy
numba
pyts
arch