arch==4.14
bintrees==2.2.0
cachetools==4.1.0
colorama==0.4.3
cvxopt==1.2.5
cvxpy==1.1.12
ipywidgets==7.5.1
matplotlib==3.2.1
mgarch-setup-fix==0.2.0
MiniSom==2.2.5
mlxtend==0.17.2
moviepy==1.0.3
numba==0.49.1
numpy==1.18.4
pandas==1.1.3
pyts==0.11.0
PyWavelets==1.1.1
qpsolvers==1.3
seaborn==0.10.1
sortedcontainers==2.1.0