bintrees
scipy==1.4.1  # https://github.com/srivastavaprashant/mgarch/issues/4
arch
mgarch-setup-fix  # https://github.com/srivastavaprashant/mgarch/issues/3
pyts
scikit-learn
statsmodels
numpy==1.20.*