# use python 3.7.3 eventaully by using pyenv: curl https://pyenv.run | bash
sortedcontainers
scikit-learn
statsmodels
tensorflow<2.0
matplotlib
cachetools
requests
yfinance
hyperopt
keras-rl
requests
pymongo
mlxtend
seaborn
pandas
torch
numpy
keras
Mako
h5py
dill
gym
