# use python 3.7.3 eventaully by using pyenv: curl https://pyenv.run | bash
Mako
cachetools
dill
h5py
hyperopt
matplotlib
mlxtend
numpy
pandas
pymongo
scikit-learn
seaborn
sortedcontainers
statsmodels
